---
import MetaTags from "../components/MetaTags.astro";
import Layout from "../layouts/Layout.astro";
import { fetchImageTransform } from "../util/fetchImageTransform";
const { searchParams } = Astro.url;
const id = searchParams.get("id");
const img = searchParams.get("text");
if (!id) return Astro.redirect("/");
const { status, getUrl } = await fetchImageTransform(id);
type StatusCode = 420 | 423 | 404;
const redirects = {
  420: () => Astro.redirect("/420"),
  423: () => location.reload(),
  404: () => Astro.redirect("/404"),
};
const action = redirects[status as StatusCode];
if (action) {
  return action();
}
---

<Layout title="Happy Halloween my friend">
  <MetaTags
    slot="head"
    title="Happy Halloween"
    url=`https://happyhalloween-tau.vercel.app/happy?id=${id}&text=${img}`
    description="Your friend has sent you a 'Happy Halloween!'. Spooky."
    ;
    image={getUrl}
    large_image={getUrl}
  />
  <section
    class="relative min-h-[450px] max-w-7xl mx-auto h-screen items-center"
  >
    <div
      class="relative h-[500px] lg:h-[750px] md:h-[610px] pt-5 grid justify-items-center overflow-hidden mx-auto"
    >
      <img
        src="/home-point.png"
        alt="img"
        class="points absolute inset-0 mx-auto max-w-full h-auto object-cover"
      />
      <img
        id="myImage"
        src=`/frames/hp${img}.svg`
        alt="img"
        class="moon absolute mx-auto max-w-full md:h-[450px] h-[450px] bottom-[4rem] md:bottom-[15rem] lg:h-[750px] lg:bottom-[8rem] object-cover"
      />
      <img
        src={getUrl}
        alt="img"
        class="house absolute mx-auto max-w-full h-[250px] bottom-[8rem] md:bottom-[5rem] md:h-[350px] lg:h-[350px] lg:bottom-[12rem] object-cover"
      />
      <img
        src="/mountainForest.svg"
        alt="img"
        class="mountainForest block absolute mx-auto object-cover h-[400px] bottom-[0rem] md:h-[550px] lg:h-[850px] md:bottom-[0rem] lg:bottom-[0rem]"
      />
      <img
        src="/eyeColor.svg"
        alt="img"
        class="eyeColor absolute mx-auto max-w-full h-[580px] bottom-[0rem] md:bottom-[0rem] lg:bottom-[2rem] md:h-[550px] object-cover"
      />
    </div>
  </section>
</Layout>
